.wrapper{
    width: 100%;
    height: 60px;
    position: fixed;
    display: flex;
    justify-content: center;
    box-shadow: 0px 1px 1px rgba(0 0 0 / 12%);
    background-color: white;
}
.inner{
    --border-radius:92px;
    --button-width:52px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 24px;
}
.logo{
    min-width: 300px;
    height: 42px;
}

// Action
.action{
    display: flex;
    width: auto;
    height: 36px;
    justify-content: space-between;
    align-items: center;
}
.action-btn{
    width: 32px;
    height: 32px;
    background-color: transparent;
    margin-left: 16px;
    cursor: pointer;
}
.user-avatar{
    height: 32px;
    width: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 24px;
    cursor: pointer;
}

.list{
    height: 20px;
    width: 20px;
    background-color: transparent;
    border: none;
    padding: 0 4px;
}
.badge {
    position: absolute;
    top: 0.5rem;
    right: 7.2rem;
    padding: 0px 6px;
    height: 2rem;
    line-height: 2rem;
    border-radius: 10px;
    font-size: 1.4rem;
    font-weight: 600;
    color: white;
    font-family: 'ProximaNova', sans-serif;
    background-color: rgba(254, 44, 85, 1);
}
//Menu_Item